#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
body {
  margin: 0;
  background-color: #1876d1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  border-radius: 8px;
  margin: 200px auto 0;
}

#Sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 180px;
  padding: 60px 50px;
  background-color: #fed51e;
}

#Sidebar svg {
  font-size: 45px;
  color: white;
}
#Sidebar i {
  font-size: 13px;
  margin: auto 0;
}

form {
  background-color: whitesmoke;
  max-width: 500px;
  padding: 60px 50px;
}

h1 {
  margin: 0;
}

button {
  /* float: right; */
}

@media (min-width: 500px) {
  .half {
    width: 50%;
  }
}